//
   Created by jaric on 10.08.2014.

extends layout
block content

    p
        div(class="menuElement menuPad")
            a(href="/") Menu

    p Hi, I'm Jaric, the author of this app, nice to meet you! Thank you so much for being here. I hope you enjoy it!
    p
    p Windows Phone app by Andrey is comming soon.
    p
    p You can contact me via mm1000@list.ru
    p
        | &nbsp;
    p Inspired by Pavel and Ann and Elena.
