//
   Created by jaric on 10.08.2014.

extends layout
block headData
    title About authors of Numbers game
    meta(name="Description" content="about page is here")

block content

    p
        div(class="menuElement menuPad")
            a(href="/") Menu

    p Hi, I'm Jaric, the author of this app, nice to meet you! Thank you so much for being here. I hope you enjoy it!
    p Windows Phone app by Andrey is comming soon.
    p Feel free to contact me at mm1000@list.ru
    p Inspired by Pavel, and Ann, and Elena.

    p