//
   Created by jaric on 10.08.2014.

extends layout
block content

    br

    p Hi, I'm Jaric!
    p
    p Thank you so much for being here. I hope you enjoy this app!
    p
    p Inspired by Pavel and Ann and Elena!
    p
    span You can contact me via&nbsp;
    span mm
    span 1000
    span @
    span list.ru

    br