extends layout

block content
    div(class="menuElement menuPad")
        a(href="/play") Play
    //-
        div(class="menuElement", onclick="f1()") CLEAR STORAGE
    br
    div(class="menuElement")
        | (online: #{onlineStatistics.playersOnline}, searching: #{onlineStatistics.playersSearching})
    div(class="menuElement menuPad")
        a(href="/onlineStatistics") Online statistics
    div(class="menuElement menuPad")
        a(href="/rules") Rules
    div(class="menuElement menuPad")
        a(href="/about") About

    //-
        div(class="menuElement")
            a(href="/reconfigure") Reconfigure

    br
    br
    br
    br
    br

    script(src="/javascripts/jquery-1.9.1.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/backbone.js")
    script(src='/javascripts/menu.js')
    script.
        (function($) {
            $.menu.bootstrap();
        })(jQuery);
        function f1(){
            localStorage.clear();
        }
