//
   Created by jaric on 24.06.14.

extends layout
block content

    br
    div(class="menuElement menuPad")
        a(href="/") Menu
    br

    script(src="/javascripts/jquery-1.9.1.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/backbone.js")
    script(src='/javascripts/NumbersBase.js')
    script(src='/javascripts/numbers.js')
    script.
        (function($) {
            $.numbers.bootstrap();
        })(jQuery);

