//
   Created by jaric on 10.08.2014.

extends layout
block content

    p Rules:
    table
        tr
            td
                | 1er
            td
                | Σ&nbsp;
                img(class="textDice d1")
        tr
            td
                | 2er
            td
                | Σ&nbsp;
                img(class="textDice d2")
        tr
            td
                | 3er
            td
                | Σ&nbsp;
                img(class="textDice d3")
        tr
            td
                | 4er
            td
                | Σ&nbsp;
                img(class="textDice d4")
        tr
            td
                | 5er
            td
                | Σ&nbsp;
                img(class="textDice d5")
        tr
            td
                | 6er
            td
                | Σ&nbsp;
                img(class="textDice d6")
        tr
            td
                | Dreier Pasch
            td
                | Σ
        tr
            td
                | Vierer Pasch
            td
                | Σ
        tr
            td
                | Full House
            td
                | 25
        tr
            td
                | Kleine Straße
            td
                | 30
        tr
            td
                | Große Straße
            td
                | 40
        tr
            td
                | Yazzee
            td
                | 50
        tr
            td
                | Chance
            td
                | Σ

    p If in the end of game sum of 1er, 2er, 3er, 4er, 5er, 6er more or equal than 63, you will get additional 35 points.
    br
