//
   Created by jaric on 10.08.2014.

extends layout
block content

    p
        div(class="menuElement menuPad")
            a(href="/") Menu

    p Rules:
    table
        tr
            td
                | 1er
            td
                | Σ&nbsp;1
        tr
            td
                | 2er
            td
                | Σ&nbsp;2
        tr
            td
                | 3er
            td
                | Σ&nbsp;3
        tr
            td
                | 4er
            td
                | Σ&nbsp;4
        tr
            td
                | 5er
            td
                | Σ&nbsp;5
        tr
            td
                | 6er
            td
                | Σ&nbsp;6
        tr
            td
                | Dreier Pasch
            td
                | Σ
        tr
            td
                | Vierer Pasch
            td
                | Σ
        tr
            td
                | Full House
            td
                | 25
        tr
            td
                | Kleine Straße
            td
                | 30
        tr
            td
                | Große Straße
            td
                | 40
        tr
            td
                | Yazzee
            td
                | 50
        tr
            td
                | Chance
            td
                | Σ

    p If in the end of game sum of 1er, 2er, 3er, 4er, 5er, 6er is more or equal 63, you will get additional 35 points.
    br
